<section class="homepage-slider" id="home-slider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="/images/banner-1.jpg" alt="" />
            </li>
            <li>
                <img src="/images/banner-2.jpg" alt="" />
                <div class="intro">
                    <h1>Mid season sale</h1>
                    <p><span>Up to 50% Off</span></p>
                    <p><span>On selected items online and in stores</span></p>
                </div>
            </li>
        </ul>
    </div>
</section>
<section class="header_text">
    Our products have top quality in Vietnam
    <br />Any hesitation does not come immediately.
</section>

<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    {{#each feature1}}
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
                                                    <p><a href="/product/product-detail={{this._id}}"><img src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}" alt="" /></a></p>
                                                    <a class="title">{{this.Name}}</a><br />
                                                    <a class="category">{{this.Category}}</a>
                                                    <p class="price">${{this.Cost}}</p>
                                                    <input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
                                                </form>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    {{#each feature2}}
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
                                                    <p><a href="/product/product-detail={{this._id}}"><img src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}" alt="" /></a></p>
                                                    <a class="title">{{this.Name}}</a><br />
                                                    <a class="category">{{this.Category}}</a>
                                                    <p class="price">${{this.Cost}}</p>
                                                    <input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
                                                </form>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Popular <strong>Products</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-2" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    {{#each popular1}}
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
                                                    <p><a href="/product/product-detail={{this._id}}"><img src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}" alt="" /></a></p>
                                                    <a class="title">{{this.Name}}</a><br />
                                                    <a class="category">{{this.Category}}</a>
                                                    <p class="price">${{this.Cost}}</p>
                                                    <input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
                                                </form>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    {{#each popular2}}
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
                                                    <p><a href="/product/product-detail={{this._id}}"><img src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}" alt="" /></a></p>
                                                    <a class="title">{{this.Name}}</a><br />
                                                    <a class="category">{{this.Category}}</a>
                                                    <p class="price">${{this.Cost}}</p>
                                                    <input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
                                                </form>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">Latest <strong>Products</strong></span></span></span>
                        <span class="pull-right">
                            <a class="left button" href="#myCarousel-3" data-slide="prev"></a><a class="right button" href="#myCarousel-3" data-slide="next"></a>
                        </span>
                    </h4>
                    <div id="myCarousel-3" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    {{#each new1}}
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
                                                    <p><a href="/product/product-detail={{this._id}}"><img src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}" alt="" /></a></p>
                                                    <a class="title">{{this.Name}}</a><br />
                                                    <a class="category">{{this.Category}}</a>
                                                    <p class="price">${{this.Cost}}</p>
                                                    <input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
                                                </form>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails">
                                    {{#each new2}}
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
                                                    <p><a href="/product/product-detail={{this._id}}"><img src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}" alt="" /></a></p>
                                                    <a class="title">{{this.Name}}</a><br />
                                                    <a class="category">{{this.Category}}</a>
                                                    <p class="price">${{this.Cost}}</p>
                                                    <input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
                                                </form>
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row feature_box">
                <div class="span4">
                    <div class="service">
                        <div class="responsive">
                            <img src="/images/feature_img_2.png" alt="" />
                            <h4>MODERN <strong>DESIGN</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="customize">
                            <img src="/images/feature_img_1.png" alt="" />
                            <h4>FREE <strong>SHIPPING</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="service">
                        <div class="support">
                            <img src="/images/feature_img_3.png" alt="" />
                            <h4>24/7 LIVE <strong>SUPPORT</strong></h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and printing industry unknown printer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
<section class="our_client">
    <h4 class="title"><span class="text">Manufactures</span></h4>
    <div class="row">
        <div class="span2">
            <a href="#"><img alt="" src="/images/clients/14.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="/images/clients/35.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="/images/clients/1.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="/images/clients/2.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="/images/clients/3.png"></a>
        </div>
        <div class="span2">
            <a href="#"><img alt="" src="/images/clients/4.png"></a>
        </div>
    </div>
</section>
