<section class="header_text sub">
	<img class="pageBanner" src="/images/pageBanner.png" alt="New products">
	<h4><span>Product Detail</span></h4>
</section>
<section class="main-content">
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span4">
					<a href="ladies/1.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 1"><img alt="" src="https://pttk-shopping-web-admin.herokuapp.com/{{product_detail.Image}}"></a>
					<ul class="thumbnails small">
						<li class="span1">
							<a href="ladies/2.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="/images/2.jpg" alt=""></a>
						</li>
						<li class="span1">
							<a href="ladies/3.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="/images/3.jpg" alt=""></a>
						</li>
						<li class="span1">
							<a href="ladies/4.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="/images/4.jpg" alt=""></a>
						</li>
						<li class="span1">
							<a href="ladies/5.jpg" class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="/images/5.jpg" alt=""></a>
						</li>
					</ul>
				</div>
				<div class="span5">
					<address>
						<strong>Name:</strong> <span>{{product_detail.Name}}</span><br>
						<strong>Gender:</strong> <span>{{product_detail.Gender}}</span><br>
						<strong>Caterogy:</strong> <span>{{product_detail.Category}}</span><br>
					</address>
					<h4><strong>Price: ${{product_detail.Cost}}</strong></h4>
				</div>
				<div class="span5">
					<form  action='/cart/add-product-into-cart/id={{product_detail._id}}' method="POST" class="form-inline" onsubmit="return checkforblank()">
						<label>Quantity:</label>
						<input type="text" class="span1" placeholder='1' name="Quantity" id="Quantity">
						<input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
						<span id="error-messages"></span>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<ul class="nav nav-tabs" id="myTab">
						<li class="active"><a href="#description">Description</a></li>
						<li class=""><a href="#comment">Comment</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
						<div class="tab-pane fade " id="comment">
							<div>
							{{#if hasComment}}
								{{#each related_comment}}
									<div class="media">
										<div class="media-body">
											<div class="aa-product-rating">
												{{#each Star}}
												<span class="fa fa-star{{this}}"></span>
												{{/each}}
											</div>
											<h4 class="media-heading"><strong>{{this.Username}}</strong> - <span>{{this.Time}}</span></h4>
											<p>{{this.Message}}</p>
										</div>
									</div>
								{{/each}}
							{{else}}
							{{/if}}
							<h4>Add comment</h4>
							<!-- review form -->
							<form action="/customer/add-review" method="post">
								<div class="aa-your-rating">
								<span class="fa fa-star-o" id="star1"></span>
								<span class="fa fa-star-o" id="star2"></span>
								<span class="fa fa-star-o" id="star3"></span>
								<span class="fa fa-star-o" id="star4"></span>
								<span class="fa fa-star-o" id="star5"></span>
								</div>
								<div class="form-group">
									<textarea class="form-control width-500" rows="3"  id="message" name="Message"></textarea>
								</div>
								{{#if user}}
								{{else}}
								 <div class="control-group">
									<label class="control-label">Name</label>
									<div class="controls">
										<input type="text" id="name" name="Name" class="width-500">
									</div>
								</div>
								{{/if}}
								<input type="hidden" name="ProductId" value="{{ product_detail._id }}">
								<input type="hidden" name="star" value="" id="starResult">
								<button type="submit" class="btn btn-default aa-review-submit">Gửi</button>
							</form>
							</div>
							</div>
					</div>
				</div>

				<div class="span12">
					<br>
					<h4 class="title">
						<span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
						<span class="pull-right">
							<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
						</span>
					</h4>
					<div id="myCarousel-1" class="carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<ul class="thumbnails listing-products">
									{{#each related1}}
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
												<a href="/product/product-detail={{this._id}}"><img alt="" src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}"></a><br />
												<a class="title">{{this.Name}}</a><br />
												<a class="category">{{this.Category}}</a>
												<p class="price">${{this.Cost}}</p>
												<input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
											</form>
										</div>
									</li>
									{{/each}}
								</ul>
							</div>
							<div class="item">
								<ul class="thumbnails listing-products">
									{{#each related2}}
									<li class="span3">
										<div class="product-box">
											<span class="sale_tag"></span>
											<form action="/cart/add-product-into-cart/id={{this._id}}" method="POST">
												<a href="/product-detail-{{this._id}}"><img alt="" src="https://pttk-shopping-web-admin.herokuapp.com/{{this.Image}}"></a><br />
												<a class="title">{{this.Name}}</a><br />
												<a class="category">{{this.Category}}</a>
												<p class="price">${{this.Cost}}</p>
												<input class="btn btn-inverse" type="submit" value="Add To Cart" id="submit">
											</form>
										</div>
									</li>
									{{/each}}
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>	
<script src="/javascripts/custom.js"></script>
<script src="/javascripts/star-hover.js"></script>
<script>
	$(function () {
		$('#myTab a:first').tab('show');
		$('#myTab a').click(function (e) {
			e.preventDefault();
			$(this).tab('show');
		})
	})
	$(document).ready(function() {
		$('.thumbnail').fancybox({
			openEffect  : 'none',
			closeEffect : 'none'
		});

		$('#myCarousel-2').carousel({
			interval: 2500
		});
	});
	
</script>