<section class="header_text sub">
    <img class="pageBanner" src="/images/pageBanner.png" alt="New products">
</section>
<section class="main-content">
    <div class="row">
        <div class="span12">
            {{#if err}}
                <input class="width-400 color-red" type="text" name="next" value="{{mess}}">
            {{/if}}
            <fieldset class="text-center">
                {{#if checkUser}}
                    <h4>Enter username that you want to reset password</h4>
                    {{#if mess}}
                        <div class="alert alert-danger">
                            {{mess}}
                        </div>
                    {{/if}}
                    <form action="/customer/checkUser" method="POST" class="aa-login-form">
                        <div class="control-group">
                            <label >Enter username<span>&nbsp;(*)</span></label>
                            <div class="controls">
                                <input type="text" name="Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <input class="btn btn-inverse large" type="submit" value="Confirm Username">
                        </div>
                    </form>
                {{/if}}

                {{#if sentEmail}}
                    <h4>Enter of email to sent confirm code</h4>
                    {{#if mess}}
                        <div class="alert alert-danger">
                            {{mess}}
                        </div>
                    {{/if}}
                    <form action="/customer/sendEmail" method="POST" class="aa-login-form">
                        <div class="control-group">
                            <label >The confirmation code will be sent to the email<span>&nbsp;(*)</span></label>
                            <div class="controls">
                                <input type="text" name="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <input class="btn btn-inverse large" type="submit" value="Send">
                        </div>
                    </form>
                {{/if}}
                {{#if confirmCode}}
                    <h4>Enter of confirm code</h4>
                    {{#if mess}}
                        <div class="alert alert-danger">
                            {{mess}}
                        </div>
                    {{/if}}
                    <form action="/customer/confirmCode" method="POST" class="aa-login-form">
                        <div class="control-group">
                            <label >Please! check email and enter confirm code has received!<span>&nbsp;(*)</span></label>
                            <div class="controls">
                                <input type="text" name="Code">
                            </div>
                        </div>
                        <div class="control-group">
                            <input class="btn btn-inverse large" type="submit" value="Confirm Code">
                        </div>
                    </form>
                {{/if}}

                {{#if checkChanges}}
                    <h4>Reset Password</h4>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="aa-myaccount-register">
                            {{#if mess}}
                                <div class="alert alert-danger">
                                    {{mess}}
                                </div>
                            {{/if}}
                            <form action="/customer/checkChanges" class="aa-login-form" method="POST">
                                <div class="control-group">
                                    <label >Enter of username<span>&nbsp;(*)</span></label>
                                    <div class="controls">
                                            <input type="text" name="Username">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label >Enter of new password<span>&nbsp;(*)</span></label>
                                    <div class="controls">
                                            <input type="password" name="Password">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label >Enter confirm new password<span>&nbsp;(*)</span></label>
                                    <div class="controls">
                                            <input type="password" name="Passconfirm">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <input class="btn btn-inverse large" type="submit" value="Reset Password">
                                </div>
                            </form>
                        </div>
                    </div>
                {{/if}}
            </fieldset>
        </div>
    </div>
</section>	